.btn {
  -webkit-box-shadow: var(---webkit-box-shadow);
  -moz-box-shadow: var(---moz-box-shadow);
  box-shadow: var(--box-shadow);
  background-color: var(--color-background);
  border-radius: 2px;
  padding: 0.3em 0.8em;
  border: none;
  font-weight: var(--font-weight-light);
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.btn--return {
  margin-top: 20px;

  & .return-arrow {
    width: 25px;
  }

  &[data-theme="dark"] .return-arrow {
    filter: invert(100%) sepia(4%) saturate(7483%) hue-rotate(193deg)
      brightness(105%) contrast(103%);
  }
}
