.search-wrapper {
  -webkit-box-shadow: var(---webkit-box-shadow);
  -moz-box-shadow: var(---moz-box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin-top: 30px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--color-background);

  & &__icon {
    height: 20px;
    stroke: var(--color-input-text);
    margin-left: 10px;
    cursor: pointer;
  }

  & &__input {
    border: none;
    color: var(--color-input-text);
    font-weight: var(--font-weight-light);
    background-color: transparent;
    width: 100%;
  }

  & &__input:focus {
    outline: none;
  }
}

@media (min-width: 600px) {
  .search-wrapper {
    max-width: 400px;
    width: 40%;
  }
}
