.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
  padding: 30px 20px;
  -webkit-box-shadow: var(---webkit-box-shadow);
  -moz-box-shadow: var(---moz-box-shadow);
  box-shadow: var(--box-shadow);

  & &__title {
    font-weight: var(--font-weight-bold);
    color: inherit;
  }

  & &__theme-switch {
    width: 100px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: inherit;

    & .theme-switch__icon {
      height: 20px;
    }

    & .theme-switch__icon[data-theme="dark"] {
      fill: var(--color-text);
    }
  }
}
