.filter-container {
  position: relative;
  max-width: 200px;
  width: 50%;

  & .filter-input {
    margin-top: 50px;
    padding: 15px;
    -webkit-box-shadow: var(---webkit-box-shadow);
    -moz-box-shadow: var(---moz-box-shadow);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    border: none;
    background-color: var(--color-background);
    background-image: url("../../assets/arrow.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 20px;
    cursor: pointer;
  }

  &[data-theme="dark"] .filter-input {
    background-image: url("../../assets/arrow-dark.svg");
  }

  & .filter-options {
    position: absolute;
    z-index: 10;
    width: 100%;

    & ul {
      list-style: none;
      padding: 15px;
      -webkit-box-shadow: var(---webkit-box-shadow);
      -moz-box-shadow: var(---moz-box-shadow);
      box-shadow: var(--box-shadow);
      border-radius: 5px;

      margin-top: 5px;
      background-color: var(--color-background);

      & li {
        cursor: pointer;
      }

      & li + li {
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: 600px) {
  .filter-container {
    & .filter-input {
      margin-top: 30px;
      height: 55px;
      display: flex;
      align-items: center;
    }
  }
}
