.country-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 5px;
  background-color: white; //var(--dark-mode-primary);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(133, 133, 133, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(133, 133, 133, 1);
  box-shadow: 0px 1px 5px 0px rgba(133, 133, 133, 1);
  overflow: hidden;

  & &__details {
    padding: 20px 20px 40px;

    & .details__name {
      font-weight: var(--font-weight-bold);
      cursor: pointer;
    }

    & .details__info {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      & span {
        font-weight: var(--font-weight-light);
      }
    }
  }

  & &__flag {
    height: 167px;
  }
}
